.test {
	border-style: solid;
	border-color: coral;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  margin: 0; 
}


body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #424242;
}

* {
  box-sizing: border-box;
}

/*
 *
 * Header
 *
*/

.header{
	width: 100%;
}

.header__inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  height: 80px;
  vertical-align: top;
  margin-top: 6px;
}

.header__text {
	display: inline-block;
	float: right;
	text-align: right;
	padding: 2% 5%;
}

.header__title {
  font-size: 2em;
  width: 100%;
	text-align: right;
}

.header_subtitle {
	width: 100%;
	margin: -2em;
	text-align: right;
}


/*
 *
 * Content
 *
*/

.main-pic {
	width:100%;
	height: auto;
	margin-bottom: 20px;
}

.block-text {
	margin-left: auto;
  margin-right: auto;
  width: 20em;
}

h2, figcaption {
	text-align: center;

}

/*
 *
 * Featured Work
 *
*/

.projects {
	margin-top: 20px;
}

.project-pic {
	width: 100%;
	height: auto;
}

figcaption  a {
	display: block;
}

.flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/*
 *
 * Footer
 *
*/

footer{
	padding-top: 10px;
}