body {
	/*background-color: green;*/
}

/*Mobile*/
@media screen and (max-width: 360px){
}

@media screen and (min-width: 361px){
	.header__title{
	  font-size: xx-large;
	}
}


/*Tablet*/
@media screen and (min-width: 696px) and (max-width: 768px){
	.header__logo {
    height: 100px;
    margin-top: 10px;
	}

	.header__title {
/*    font-size: 3em;*/
	}

	.block-text {
	  width: 30em;
	  font-size: normal;
}

	#project-1, #project-2, #project-3{
		width: 38%;
	}
}


/*Laptop*/
@media screen and (min-width: 769px){
	#project-1, #project-2, #project-3{
		width: 23%;
	}
	.block-text{
		width: 35em;
	  font-size: large;
	}

	.projects{
		margin-top: 70px;
	}
}

